Source: turbo-seti
Section: science
Priority: optional
Maintainer: KERN packaging <packaging@kernsuite.info>
Build-Depends: debhelper (>=9),
               dh-python,
               python-all,
               python-setuptools
Standards-Version: 3.9.8
Homepage: https://github.com/UCBerkeleySETI/turbo_seti
X-Python-Version: >= 2.6

Package: turbo-seti
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}, python-turbo-seti, python2.7, cython
Description: analysis tool for the search of narrow band drifting signals
 The main purpose of the code is to hopefully one day find signals of
 extraterrestrial origin!! It can search the data for hundreds of drift
 rates (in Hz/sec). It can handle either .fil or .h5 file formats.

Package: python-turbo-seti
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, ${python:Depends}
Description: analysis tool for the search of narrow band drifting signals
 The main purpose of the code is to hopefully one day find signals of
 extraterrestrial origin!! It can search the data for hundreds of drift
 rates (in Hz/sec). It can handle either .fil or .h5 file formats.
